* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    clear: both;
}

.background_black {
    position: static;
    width: 100%;
    height: 1000px;
    background-color: #000;
    overflow: hidden;
    z-index: 4;
}

body > header {
    width: 80px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    border-right: 1px solid #f4f4f4;
    z-index: 99999;
}

header .menu_logo {
    padding: 5%;
}

header .menu_li {
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    top: 45%;
    padding: 30%;
}

header .menu_li .menu_i1 {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #000;
    margin-bottom: -10px;
}

header .menu_li .menu_i2 {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #000;
}

header .menu_li .menu_i3 {
    width: 15px;
    height: 2px;
    display: block;
    background-color: #000;
    margin-top: -10px;
    transition: .5s;
}

header .menu_li:hover .menu_i3 {
    width: 30px;
}

header .menu_li i:nth-last-child(0) {
    width: 30px;
}

header .menu_wechat {
    position: absolute;
    bottom: 3%;
    left: 20%;
}

.background_black .left_in {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 5;
}

.background_black .right_in {
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 5;
}

.background_black .banner_text {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.background_black .banner_text h3, p {
    text-align: center;
    color: #fff;
}

.background_black .banner_text p {
    font-size: 16px;
}

.index_case {
    margin-top: -10%;
    padding: 0 10% 10% 10%;
    background: url('/images/b8.png') 100% 100% no-repeat;
    overflow: hidden;
}

.index_case .case_img {
    width: 25%;
    float: left;
}

.index_case .case_img .img_txt {
    width: 100%;
    height: 100%;
    position: relative;
}

.index_case .case_img .img_txt .text {
    position: absolute;
    top: 35%;
    opacity: 0;
    transition: .5s;
    padding: 5%;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.index_case .case_img .img_txt:hover .text {
    opacity: 1;
}

.index_case .case_img .img_txt .over_img_red {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: 1s;
}

.index_case .case_img .img_txt:hover .over_img_red {
    background-color: #c9302c;
}

.index_case .case_img .img_txt .over_img_blue {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: 1s;
}

.index_case .case_img .img_txt:hover .over_img_blue {
    background-color: #5bc0de;
}

.flex_bg {
    background: url('/images/b.jpg') 100% 100%;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding: 24rem;
}

.index_news {
    position: relative;
    z-index: 9;
    overflow: hidden;
    background-color: #f2f2f2;
}

.carousel {
    width: 50%;
    float: left;
}

.news_txt {
    float: left;
    background-color: #000;
    width: 30%;
    height: 476px;
}
.news_txt p{
    display: -webkit-flex; /* Safari */
    display: flex;
    padding: 20%;
    font-size: 62px;
    line-height: 90px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.rotate1{
    transform-origin: center center;
    transition: transform .3s;
    transform: rotate(-135deg);
}
.rotate2{
    transform-origin: center center;
    transition: transform .3s;
    transform: rotate(135deg);
}
.mrt{
    margin-bottom: -22px!important;
}
.none{
    opacity: 0;
}

.index_menu{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left:0 ;
    background-color: #000;
    width: 100%;
    height: 1000px;
    z-index: 100;
    transition: .5s;
}
.menu_bg1{
    background: url('/images/b1.png') 100% 100% no-repeat rgba(0, 0, 0, 0.99);
}
.index_menu ul{
    padding-top: 5%;
}
.index_menu ul li{
    list-style-type: none;
    text-align: center;
}
.index_menu ul li a{
    font-size: 60px;
    color: #fff;
    text-align: center;
    text-decoration-line: none;
}
.block{
    display: block;
    opacity: 101;
}
@media (max-width:980px) {
    body > header{
        width: 100%;
        height: 60px;
    }
    header .menu_logo{
        max-width: 8%;
        padding: 0;
    }
    header .menu_li{
        width: 20%;
        height: auto;
        left: 45%;
        top: 0;
        padding: 2%;
    }
    header .menu_wechat{
        left: auto;
        right: 5% !important;
        bottom: 20%;
    }
}

